<ul class="nav user-menu">
    <li class="nav-item dropdown has-arrow main-drop">
        <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
            <span class="user-img"><img src="/img/profiles/avator1.jpg" alt>
                <span class="status online"></span></span>
        </a>
        <div class="dropdown-menu menu-drop-user">
            <div class="profilename">
                <div class="profileset">
                    <span class="user-img"><img src="/img/profiles/avator1.jpg" alt>
                        <span class="status online"></span></span>
                    <div class="profilesets">
                        <h6><%= name%></h6>
                        <h5><%= role%></h5>
                    </div>
                </div>
                <hr class="m-0">
                <a class="dropdown-item logout pb-0" id="logoutButton" href="/signin"><img
                        src="/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
                
            </div>
        </div>
    </li>
</ul>
<script>
    document.getElementById("logoutButton").addEventListener("click", function(){
        fetch("http://localhost:3000/api/auth/logout", {
        method: 'GET',
      }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.href = "/signin";
            }).catch((error) => {
                    console.error('There was an error!', error);
                });

});
</script>