<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/_index', user) %>
			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Product Add Category</h4>
							<h6>Create new product Category</h6>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-6 col-sm-6 col-12">
									<div class="form-group">
										<label>Category Name</label>
										<input type="text" id="categoryName">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Category Description</label>
										<textarea class="form-control" id="categoryDescription"></textarea>
									</div>
								</div>
								<div class="col-lg-12">
									<button class="btn btn-submit" onclick="addCategory()">Submit</button>
									<a href="/categorylist" class="btn btn-cancel">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
		<script>
            function addCategory() {
                var categoryName = document.getElementById("categoryName").value;
                var categoryDescription = document.getElementById("categoryDescription").value;
				if (categoryName !== "" && categoryDescription !== "") {
                	fetch("http://localhost:3000/api/customer/category", {
                    	method: "POST",
                    	headers: {
                        	'Content-Type': 'application/json'
                    	},
                    	body: JSON.stringify({Cat_Name: categoryName, Cat_Description: categoryDescription})
                	})
                	.then(response => {
                    	if (!response.ok) {
                        	throw new Error('Network response was not ok');
                    	}
                    	else{
                        	alert("Category Added Successfully");
							document.getElementById("categoryName").value = ""
							document.getElementById("categoryDescription").value = ""
                   	 	}
                    	return response.json();
               	 	})
                	.catch((error) => {
                    	console.error('There was an error!', error);
                    	alert("Some error occurs, please try again")
                	});
				}
				else{
					alert("Please fill required fields")
				}
            }
        </script>
        <script src="/js/jquery-3.6.0.min.js"></script>
		<script src="/js/feather.min.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/plugins/select2/js/select2.min.js"></script>
		<script src="/plugins/sweetalert/sweetalert2.all.min.js"></script>
		<script src="/plugins/sweetalert/sweetalerts.min.js"></script>
		<script src="/js/script.js"></script>
    </body>
</html>