<div class="header-left active">
    <a href="/" class="logo logo-normal">
        <img src="/img/logo.png" alt>
    </a>
    <a href="/" class="logo logo-white">
        <img src="/img/logo-white.png" alt>
    </a>
    <a href="/" class="logo-small">
        <img src="/img/logo-small.png" alt>
    </a>
    <a id="toggle_btn" href="javascript:void(0);">
    </a>
</div> 