<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li>
            <a href="/"><img src="/img/icons/dashboard.svg" alt="img"><span>
                    Dashboard</span> </a>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><img src="/img/icons/product.svg" alt="img"><span>
                    Product</span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a href="/productlist">Product List</a></li>
                <li><a href="/addproduct">Add Product</a></li>
                <li><a href="/categorylist">Category List</a></li>
                <li><a href="/addcategory">Add Category</a></li>
                <li><a href="/subcategorylist">Sub Category List</a></li>
                <li><a href="/subaddcategory">Add Sub Category</a></li> 
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);"><img src="/img/icons/sales1.svg" alt="img"><span>
                    Sales</span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a href="/saleslist">Sales List</a></li>
                <li><a href="/pos">POS</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>

<script>
    if('<%=active%>' !== ""){
    document.querySelector("ul li a[href='<%=active%>']").classList.add("active")
    }
</script>